name: FakeStore ETL

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run ETL
        run: python etl_fakestore.py
        env:
          PG_CONN_STR: ${{ secrets.PG_CONN_STR }}
